.feature-feature {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 300px;
  align-items: flex-start;
  flex-direction: column;
}
.feature-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.feature-icon {
  height: 22px;
  object-fit: cover;
}
.feature-header {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: "Cormorant Infant";
  font-weight: 700;
}
.feature-description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Cormorant Infant";
  line-height: 27px;
}
@media(max-width: 767px) {
  .feature-feature {
    max-width: 100%;
  }
}

.offer-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.offer-image {
  object-fit: cover;
}
.offer-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.offer-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.offer-text {
  font-size: 20px;
  font-style: normal;
  font-family: "Cormorant Infant";
  font-weight: 700;
}
.offer-text1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Cormorant Infant";
  font-weight: 500;
}
.offer-text2 {
  font-size: 18px;
  max-width: 400px;
  font-family: "Cormorant Infant";
  line-height: 26px;
}
@media(max-width: 991px) {
  .offer-image {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(180, 52, 74) 0.00%,rgb(11, 1, 4) 100.00%);
}
.home-tint {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 50px;
}
.home-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  font-size: 30px;
  text-decoration: none;
}
.home-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  height: 33px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 90px;
  text-transform: uppercase;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 600px;
  text-align: center;
  font-family: "Cormorant Infant";
  line-height: 27px;
}
.home-link1 {
  display: contents;
}
.home-search {
  cursor: pointer;
  display: flex;
  padding: 12px;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #FAD87A;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-search:hover {
  opacity: 0.5;
}
.home-text05 {
  font-family: "Cormorant Infant";
}
.home-image {
  width: auto;
  height: 300;
  object-fit: cover;
}
.home-feaures {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #0a0103;
}
.home-content1 {
  gap: 140px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  flex-direction: row;
}
.home-quick-view {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-main1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header1 {
  color: rgb(53, 43, 42);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 60px;
}
.home-caption1 {
  color: rgb(53, 43, 42);
  font-size: 30px;
  max-width: 600px;
  text-align: center;
  font-family: "Cormorant Infant";
  line-height: 27px;
}
.home-caption2 {
  color: rgb(239, 28, 28);
  font-size: 30px;
  max-width: 600px;
  text-align: center;
  font-family: "Cormorant Infant";
  line-height: 50px;
}
.home-link2 {
  text-decoration: underline;
}
.home-offers {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home-offer-container {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container1 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container2 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container3 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container4 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-text07 {
  font-size: 30px;
  font-family: "Cormorant Infant";
}
.home-link3 {
  text-decoration: underline;
}
.home-text10 {
  font-size: 30px;
  font-family: "Cormorant Infant";
  line-height: 2;
}
.home-text14 {
  color: #fb2121;
}
.home-text15 {
  color: #fb2121;
}
.home-text16 {
  color: #fb2121;
}
.home-text17 {
  color: #fb2121;
}
.home-text18 {
  color: #fb2121;
}
.home-text19 {
  color: #fb2121;
}
.home-text20 {
  color: #fb2121;
}
.home-text21 {
  color: #fb2121;
}
.home-text22 {
  color: #fb2121;
}
.home-text23 {
  color: #fb2121;
}
.home-text24 {
  color: #fb2121;
}
.home-container3 {
  width: 100%;
}
.home-container4 {
  display: contents;
}
.home-articles {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #F8F0E9;
}
.home-text25 {
  font-size: 50px;
  font-family: "Cormorant Infant";
}
.home-text26 {
  font-size: 30px;
  font-family: "Cormorant Infant";
}
.home-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-left {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image01 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-left01 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image02 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right01 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image03 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-bottom {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-left02 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image04 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right02 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image05 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-gallery1 {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-right03 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-left03 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right04 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-bottom1 {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-left04 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right05 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-left05 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-gallery2 {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-left06 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right06 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-left07 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right07 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image13 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-bottom2 {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-left08 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right08 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image15 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-gallery3 {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home-right09 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-top3 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-left09 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image16 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right10 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image17 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-bottom3 {
  flex: 1;
  width: 100%;
  display: flex;
}
.home-left10 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image18 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-right11 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image19 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-left11 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image20 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #AF3248;
}
.home-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 50px;
}
.home-link4 {
  text-decoration: underline;
}
.home-link5 {
  text-decoration: underline;
}
.home-link6 {
  text-decoration: underline;
}
.home-caption3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-family: "Cormorant Infant";
  line-height: 27px;
}
.home-find1 {
  font-style: normal;
  transition: 0.3s;
  font-family: "Cormorant Infant";
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.home-find1:hover {
  opacity: 0.5;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(180, 52, 74) 0.00%,rgb(11, 1, 4) 100.00%);
}
.home-content2 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-main2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image21 {
  height: 45px;
  object-fit: cover;
}
.home-caption4 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Cormorant Infant";
  line-height: 21px;
}
.home-links1 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link7 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Cormorant Infant";
}
.home-link8 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
}
.home-copyright {
  color: #cbc2c2;
  font-size: 12px;
  font-family: "Cormorant Infant";
}
.home-container6 {
  display: contents;
}
@media(max-width: 991px) {
  .home-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-quick-view {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-offers {
    grid-template-columns: auto auto;
  }
  .home-trending-items {
    background-color: #ffffff;
  }
  .home-left {
    width: 100%;
  }
  .home-left05 {
    width: 100%;
  }
  .home-left06 {
    width: 100%;
  }
  .home-left11 {
    width: 100%;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-branding {
    max-width: 80%;
  }
  .home-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .home-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-menu {
    display: flex;
  }
  .home-links {
    display: none;
  }
  .home-hamburger {
    display: flex;
  }
  .home-mobile-menu {
    background-color: #397B53;
  }
  .home-icon02 {
    fill: #fff;
  }
  .home-text {
    color: #fff;
  }
  .home-text01 {
    color: #fff;
  }
  .home-text02 {
    color: #fff;
  }
  .home-text03 {
    color: #fff;
  }
  .home-text04 {
    color: #fff;
  }
  .home-center {
    padding-bottom: 100px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header {
    font-size: 40px;
    line-height: 40px;
  }
  .home-caption {
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .home-feaures {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-quick-view {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-offers {
    grid-template-columns: auto;
  }
  .home-articles {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-top {
    flex-direction: column;
  }
  .home-bottom {
    flex-direction: column;
  }
  .home-gallery1 {
    flex-direction: column;
  }
  .home-top1 {
    flex-direction: column;
  }
  .home-bottom1 {
    flex-direction: column;
  }
  .home-gallery2 {
    flex-direction: column;
  }
  .home-top2 {
    flex-direction: column;
  }
  .home-bottom2 {
    flex-direction: column;
  }
  .home-gallery3 {
    flex-direction: column;
  }
  .home-top3 {
    flex-direction: column;
  }
  .home-bottom3 {
    flex-direction: column;
  }
  .home-find {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .home-header2 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-text27 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-link4 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-text28 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-link5 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-text29 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-content2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
